
/* line 1, ../../../../../../../scss/src/main/resources/sass/reference/fragments/_breadcrumbs.scss */
#breadcrumbs {
  clear: both;
  font-size: 0.9em;
  border-bottom: 1px solid white;
}


/* line 6, ../../../../../../../scss/src/main/resources/sass/reference/fragments/_breadcrumbs.scss */
#breadcrumbs a, #breadcrumbs a:link, #breadcrumbs a:visited {
  color: #555;
  text-decoration: underline;
}
/* line 10, ../../../../../../../scss/src/main/resources/sass/reference/fragments/_breadcrumbs.scss */
#breadcrumbs a:hover, #breadcrumbs a:link:hover, #breadcrumbs a:visited:hover {
  color: #7b7b7b;
}
/* line 14, ../../../../../../../scss/src/main/resources/sass/reference/fragments/_breadcrumbs.scss */
#breadcrumbs a:first-child, #breadcrumbs a:link:first-child, #breadcrumbs a:visited:first-child {
  text-decoration: none;
}
/* line 19, ../../../../../../../scss/src/main/resources/sass/reference/fragments/_breadcrumbs.scss */
#breadcrumbs li {
  display: inline;
}
/* line 22, ../../../../../../../scss/src/main/resources/sass/reference/fragments/_breadcrumbs.scss */
#breadcrumbs li:last-child {
  font-family: "OpenSansBold";
}

#body-wrapper.style-guide #content article section .example, #body-wrapper.style-guide #content article section code {
    display: block;
    position: relative;
    margin: 35px 0 0 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* line 109, ../../../../../../../scss/src/main/resources/sass/styleguide/index.scss */
#body-wrapper.style-guide #content article section .example:after, #body-wrapper.style-guide #content article section code:after {
  content: "Example";
  position: absolute;
  top: -24px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ddd;
  color: #969696;
  background: #F9F9F9;
}

/* line 125, ../../../../../../../scss/src/main/resources/sass/styleguide/index.scss */
#body-wrapper.style-guide #content article section .example ul.grid > li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 200px;
  margin: 10px;
}